.header{
    height:80px;
    width:100%;
    background-color:blueviolet;
    justify-content:space-around;
    align-items:center;
}

 .header.header-logo img{
    height:60px;
    width:60px;
    background-color:cyan;
 }
 
 .header.navbar{

 }
 
 .header.navber ul{
    list-style-type:none;
 }
 
 .header.navbar ul li{
    text-decoration:none;
    margin: 15px;
    background-color:blue;
    font: size 25px;
    text-transform:capatalize;
 }
 
 .header.navbar ul a:hover{
    color: orange;
 }

